{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/sign_up.css' %}" rel="stylesheet" type="text/css">
<style>
    body {
            background-image: url("{% static 'image/blog-4.jpg' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
</style>
</head>
<body>
    <div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
        <div class="row w-100">
            <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-10 offset-1">
                <div class="card p-4">
                    <h2 class="text-center mb-4">Reset Password</h2>
                    <form id="reset-password-confirm-form">
                        <div class="mb-3">
                            <label for="password">New Password:</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Reset Password</button>
                    </form>
                   
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
       document.getElementById('reset-password-confirm-form').addEventListener('submit', async function(event) {
    event.preventDefault();
    const password = document.getElementById('password').value;
    const urlParams = new URLSearchParams(window.location.search);
    const uidb64 = urlParams.get('uidb64');
    const token = urlParams.get('token');

    const csrfTokenElement = document.querySelector('[name=csrfmiddlewaretoken]');
    const csrftoken = csrfTokenElement ? csrfTokenElement.value : '';

    if (!csrftoken) {
        alert('CSRF token not found. Please reload the page and try again.');
        return;
    }

    const response = await fetch(`/reset-password/${uidb64}/${token}/`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,
        },
        body: JSON.stringify({ password }),
    });

    const data = await response.json();
    if (response.ok) {
        alert('Password has been reset!');
        window.location.href = '/signin/';
    } else {
        alert(`Error: ${data.error}`);
    }
});
 </script>
</body>
</html>
